.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.types {
  display: flex;
  gap: 8px;
}

.salary {
  position: relative;
}

.filterBar{
  display:flex;
  flex-direction:column;
  gap:16px;
  margin-bottom:34px;
}

.filterGroup{
  display:flex;
  flex-wrap:wrap;
  gap:12px;
}
